/* ------------------------------ IMPORT STYLE ------------------------------ */

@import url(./style.css);


/* ---------------------------------- FONT ---------------------------------- */

@import url("https://use.typekit.net/npp6ntg.css");

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */

#about-story-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 100px;
}
#about-short{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#about-short h2, #about-long h2{
    text-align: left;
}
#about-short h2:after{
    content: "Short about us";

}
#about-short p, #about-long p{
    font-family: "basic-sans", sans-serif;
}
#about-short a{
    font-family: "basic-sans", sans-serif;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #0A0908;
    color: #F2F4F3;
}

#gallery-container{
    display: flex;
    margin: 20px;
    margin-top: 100px;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
#gallery-container div{
    border-radius: 10px;
    overflow: hidden;
}
#gallery-container div img{
    transform: scale(1.1);
}
@media screen and (max-width: 768px) {
    #about-long{
        position: absolute;
        z-index: 100;
        top: 100px;
        left: 20px;
        width: calc(100% - 40px);
        height: fit-content;
        background-color: #F2F4F3;
        border-radius: 5px;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
        transform: scale(0.9);
        opacity: 0;
        transform-origin: center;
        transition: transform 300ms ease-out, opacity 150ms ease-out;
        display: flex;
        flex-direction: column;
        gap: 10px;
        pointer-events: none;
    }
    #about-long[data-state="open"]{
        transform: scale(1);
        opacity: 1;
    }
    #about-long-close{
        font-family: "basic-sans", sans-serif;
        width: fit-content;
        padding: 5px 20px;
        border-radius: 5px;
        background-color: #0A0908;
        color: #F2F4F3;
        align-self: flex-end;
        pointer-events: all;
        margin-top: 20px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  TABLETTE                                  */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px){

    #about-story-container{
        margin: 70px;
        margin-top: 100px;
    }
    #about-long-close{
        display: none;
    }
    #about-short a{
        display: none;
    }
    #about-long{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 100px;
    }
    #gallery-container{
        margin: 70px;
        margin-top: 100px;
    }

}




/* -------------------------------------------------------------------------- */
/*                              PETIT ORDINATEUR                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1024px){
    #about-story-container{
        margin: 70px;
        margin-top: 100px;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    #about-short, #about-long{
        max-width: 500px;
    }
    
    #about-long p{
        font-family: "basic-sans", sans-serif;
    }

    #gallery-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "one three six height"
            "one four six nine"
            "two five seven nine";
        grid-column: 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        gap: 20px;
        height: 650px;
        max-width: 1560px;
    }

    #gallery-container div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
    }

    #gallery-container > div{
        border-radius: 10px;
        overflow: hidden;
        transition: 300ms ease-in-out;
    }

    
    #gallery-container > div:hover img{
        transform: scale(1.15);
    }
    
    .gallery-one{
        grid-area: one;
    }

    .gallery-two{
        grid-area: two;
    }

    .gallery-three{
        grid-area: three;
    }

    .gallery-four{
        grid-area: four;
    }

    .gallery-five{
        grid-area: five;
    }

    .gallery-six{
        grid-area: six;
    }

    .gallery-seven{
        grid-area: seven;
    }

    .gallery-height{
        grid-area: height;
    }

    .gallery-nine{
        grid-area: nine;
    }



}



/* -------------------------------------------------------------------------- */
/*                               MAX SIZE 1560px                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1560px){
    #gallery-container{
        margin: 0 auto;
        margin-top: 100px;
    }

}
