/* ------------------------------ IMPORT STYLE ------------------------------ */

@import url(./style.css);


/* ---------------------------------- FONT ---------------------------------- */

@import url("https://use.typekit.net/npp6ntg.css");

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */

#about-first-section{
    max-width: 1000px;
    box-sizing: border-box;
    margin: 20px;
}

#about-first-section article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
    border-radius: 10px;
}

#about-first-section article div:first-child{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#about-first-section article div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
#about-first-section article div h2{
    font-size: 2.5rem;
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#about-first-section article div p{
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
}

#about-first-section article img{
    transform: scale(1.1);
}

#gallery-container{
    display: flex;
    margin: 20px;
    margin-top: 200px;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}
#gallery-container div{
    border-radius: 10px;
    overflow: hidden;
}
#gallery-container div img{
    transform: scale(1.1);
}

/* -------------------------------------------------------------------------- */
/*                                  TABLETTE                                  */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px){

    #about-first-section article{
        flex-direction: row;
    }

    #about-first-section article div:first-child{
        width: 100%;
        height: 340px;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }

    #about-first-section article div:first-child img{
        height: 100%;
        object-fit: cover;
    }

    #reserve-now-button{
        background-color: #0a090818;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        color: #0A0908;
    }

    #reserve-now-button:hover {
        background-color: #0A0908;
        color: #F2F4F3;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }

}



/* -------------------------------------------------------------------------- */
/*                              PETIT ORDINATEUR                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1024px){
    #about-first-section{
        margin: 0 auto;
    }

    #about-first-section article div p{
        font-size: 1.2rem;
    }

    #gallery-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "one three six height"
            "one four six nine"
            "two five seven nine";
        grid-column: 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        margin: 70px;
        margin-top: 200px;
        gap: 20px;
        height: 650px;
        max-width: 1560px;
    }

    #gallery-container div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
    }

    #gallery-container > div{
        border-radius: 10px;
        overflow: hidden;
        transition: 300ms ease-in-out;
    }

    
    #gallery-container > div:hover img{
        transform: scale(1.05);
    }
    
    .gallery-one{
        grid-area: one;
    }

    .gallery-two{
        grid-area: two;
    }

    .gallery-three{
        grid-area: three;
    }

    .gallery-four{
        grid-area: four;
    }

    .gallery-five{
        grid-area: five;
    }

    .gallery-six{
        grid-area: six;
    }

    .gallery-seven{
        grid-area: seven;
    }

    .gallery-height{
        grid-area: height;
    }

    .gallery-nine{
        grid-area: nine;
    }



}



/* -------------------------------------------------------------------------- */
/*                               MAX SIZE 1560px                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1560px){

}


/* -------------------------------------------------------------------------- */
/*                    MINI SCREEN (YES WE THOUGH ABOUT YOU)                   */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 360px) {
    
    
}

@media screen and (max-width: 320px) {

    
}