/* ------------------------------ IMPORT STYLE ------------------------------ */

@import url(./style.css);

article img{
    border-radius: unset
}


/* ---------------------------------- FONT ---------------------------------- */

@import url("https://use.typekit.net/npp6ntg.css");

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.menuList a{
    font-family: basic-sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    background-color: #0a090810;
    color: #0A0908;
    padding: 10px 20px;
    opacity: 0.5;
}

.menuList a:first-of-type{
    border-radius: 10px 0 0 10px;
}
.menuList a:last-of-type{
    border-radius: 0 10px 10px 0;
}

.menuList .menuListActive{
    opacity: 1;
}
.cardContainer{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.menuBoxes{
    background-color: #e7e7e7;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    max-width: 460px;
    box-sizing: border-box;
}

.boxImg{
    height: 250px;
    overflow: hidden;
    box-sizing: border-box;
    object-position: top;
    border-radius: 6px 6px 0 0;
}

.boxImg img{
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: transform 300ms ease-out;
}
.menuBoxes:hover .boxImg img{
    transform: scale(1.05);
}
.boxText{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: basic-sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

.boxTextTitleAndSubtitle h4{
    font-size: 1.4rem;
}
.boxTextTitleAndSubtitle p{
    font-style: italic;
}
.boxText > p{
    position: absolute;
    right: 0;
    bottom: 0px;
}

/* -------------------------------------------------------------------------- */
/*                                  TABLETTE                                  */
/* -------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------- */
/*                              PETIT ORDINATEUR                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1024px){

    .menuBoxes{
        width: 450px;
    }
    .cardContainer{
        justify-content: space-between;
    }

}
