/* ------------------------------ IMPORT STYLE ------------------------------ */

@import url(./style.css);


/* ---------------------------------- FONT ---------------------------------- */

@import url("https://use.typekit.net/npp6ntg.css");

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                  TABLETTE                                  */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px){

    #reserve-now-button{
        background-color: #0a090818;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        color: #0A0908;
    }

    #reserve-now-button:hover {
        background-color: #0A0908;
        color: #F2F4F3;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }

}



/* -------------------------------------------------------------------------- */
/*                              PETIT ORDINATEUR                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1024px){

    #about-first-section article div p{
        font-size: 1.2rem;
    }

    #gallery-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
            "one three six height"
            "one four six nine"
            "two five seven nine";
        grid-column: 1fr 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        margin: 70px;
        margin-top: 200px;
        gap: 20px;
        height: 650px;
        max-width: 1560px;
    }

    #gallery-container div img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 300ms ease-in-out;
    }

    #gallery-container > div{
        border-radius: 10px;
        overflow: hidden;
        transition: 300ms ease-in-out;
    }

    
    #gallery-container > div:hover img{
        transform: scale(1.05);
    }
    
    .gallery-one{
        grid-area: one;
    }

    .gallery-two{
        grid-area: two;
    }

    .gallery-three{
        grid-area: three;
    }

    .gallery-four{
        grid-area: four;
    }

    .gallery-five{
        grid-area: five;
    }

    .gallery-six{
        grid-area: six;
    }

    .gallery-seven{
        grid-area: seven;
    }

    .gallery-height{
        grid-area: height;
    }

    .gallery-nine{
        grid-area: nine;
    }



}



/* -------------------------------------------------------------------------- */
/*                               MAX SIZE 1560px                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1560px){

}


/* -------------------------------------------------------------------------- */
/*                    MINI SCREEN (YES WE THOUGH ABOUT YOU)                   */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 360px) {
    
    
}

@media screen and (max-width: 320px) {

    
}