/* ------------------------------ IMPORT STYLE ------------------------------ */

@import url(./style.css);


/* ---------------------------------- FONT ---------------------------------- */

@import url("https://use.typekit.net/npp6ntg.css");

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */

#reserve-card{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #e7e7e7;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 50px;
    font-family: "basic-sans", sans-serif;
}
#reserve-card h2{
    text-align: center;
    margin-bottom: 25px;
    box-sizing: border-box;
}
#reserve-call{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
#reserve-call-button{
    color: #e7e7e7;
    padding: 10px 20px;
    background-color: #0A0908;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 25px;
}
#reserve-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#reserve-form div{
    display: flex;
    flex-direction: column;
}
#reserve-form div label{
    font-family: "basic-sans", sans-serif;
}
#reserve-form div input, #reserve-form div textarea{
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "basic-sans", sans-serif;
    background-color: var(--color-white);
}
#reserve-form div textarea{
    resize: none;
}
#reserve-form #submit{
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #0A0908;
    color: #fff;
    font-family: "basic-sans", sans-serif;
    align-self: center;
}
#reserve-form #submit:focus{
    opacity: 0.5;
    transform: scale(0.95);
}

#rooms-card{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    background-color: #e7e7e7;
    padding: 50px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 50px;
    font-family: "basic-sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rooms-card > p{
    max-width: 250px;
    text-align: center;
    margin-bottom: 50px;
}
.rooms-room{
    background-color: aqua;
    position: relative;
    aspect-ratio: 1.7 / 1;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}
.rooms-room-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rooms-room-title{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px 20px;
    background-color: #0A090850;
    border-radius: 0 5px 0 0;
    backdrop-filter: blur(1px);
}
/* -------------------------------------------------------------------------- */
/*                                  TABLETTE                                  */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px){


}



/* -------------------------------------------------------------------------- */
/*                              PETIT ORDINATEUR                              */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 1078px){
    #reserve-rooms-container{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50px;
        gap: 50px;
    }
    #reserve-card{
        margin: unset;
        max-width: 400px;
        padding: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #rooms-card > p{
        max-width: unset;
    }
    #reserve-form{
        width: 300px;
        margin: 0;
    }
    #reserve-form div textarea{
        height: 100px;
    }
    #rooms-card{
        margin: unset;
        max-width: 600px;
    }
    #rooms-list{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    .rooms-room{
        max-width: 260px;
        margin-bottom: unset;
    }
    .rooms-room-img{
        transition: transform 300ms ease-out;
    }
    .rooms-room:hover .rooms-room-img{
        transform: scale(1.05);
    }



}
